.text-sm{
    font-size: 15px !important;
}
.readmore-in{
    display: none !important;
}
.logo-in img{
    height: 8cap !important;
    width: auto !important;
}
.text-navyblue{
    color: #062470 !important;
}